includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/phpstan-pest-extension.neon
    - vendor/mrpunyapal/peststan/extension.neon

parameters:
    paths:
        - app
        - tests

    level: 8

    peststan:
        testCaseClass: Tests\TestCase
        pestConfigFiles:
            - tests/Pest.php

    checkOctaneCompatibility: true

    checkModelProperties: true

    checkUnionTypes: true

    checkMissingCallableSignature: true

    treatPhpDocTypesAsCertain: false

    excludePaths:
        - app/Providers/TelescopeServiceProvider.php
